@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --main-brand-clr: #00A86B;
    --gray-subtle-2: #BEBEBE;
    --gray-subtle-1: #f6f6f6;
    --gray-filter: invert(51%) sepia(13%) saturate(2%) hue-rotate(314deg) brightness(96%) contrast(83%);
    --main-clr-filter: invert(61%) sepia(73%) saturate(5971%) hue-rotate(134deg) brightness(94%) contrast(102%);
    --background-clr: #FFFFFF;
    --overlay-background: rgba(0,0,0,0.6);
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

button{
    font-family: 'Raleway', sans-serif;
}

.popup-overlay{
    background-color: var(--overlay-background);
}